body{
    background-color: antiquewhite;

}

#tablaCambio{
    border: outset ;
    margin-right: 300px;
    border-spacing: 5px;
}

.cabecera{
    background-color:   #FAAC58;
    color: green;
}
tr:nth-child(2),
tr:nth-child(4){
    background-color: #81F79F;
}
tr:nth-child(3),
tr:nth-child(5){
    background-color: #81DAF5;
}
.euro.alineadoDcha{
    background-color:  #E6E6E6;
}
.dolar.alineadoDcha{
    background-color: #D8D8D8;
}
.libra.alineadoDcha{
    background-color: #BDBDBD;
}
.yen.alineadoDcha{
    background-color: #A4A4A4;
}