/* CSS */
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos el 100% del alto de la ventana */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    flex-grow: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

.game {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.game h2 {
    margin-bottom: 10px;
    text-align: center;
}

.game p {
    margin-bottom: 15px;
}

.game img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.game a.info-button {
    display: inline-flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Alinear elementos verticalmente */
    padding: 5px 10px; /* Reducir el padding para hacer el botón más pequeño */
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.game a.info-button img {
    height: 30px; /* Tamaño de la imagen del logotipo */
    margin-right: 5px; /* Espacio entre la imagen y el texto del botón */
}

.game a.info-button span {
    vertical-align: middle; /* Alinear el texto verticalmente con la imagen */
    
}

.game a.info-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* CSS */
.game img[src="farcry6.webp"]{
    width: 300px; 
    height: 300px; 
}
.game img[src="r6.jpg"]{
    width: 300px; 
    height: 300px; 
}
.game img[src="gta.jpg"]{
    width: 300px; 
    height: 300px; 
}