*body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFCC;
    margin: 0%;
    padding: 5%;
    font-size: 200%;
    border: solid;
}


h3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFCC99 ;
    border: solid;
    border-color: #FF9900;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    text-size-adjust: 2;
    color: green;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;

}

li {
    color: rgb(30, 108, 197);

}

p {
    color: red;
    background-color: #A9F5F2;

}