/* CSS */
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos el 100% del alto de la ventana */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    height: 113px;
    
}

header h1 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}
header h3 {
    margin: 0;
    font-size: x-large;
    text-align: center;
}




main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    flex-grow: 1;  /* Permite que el contenido principal ocupe el espacio restante */
    max-height: calc(100vh - 150px); /* Establece el alto máximo, restando el alto del encabezado y pie de página */
    overflow-y: auto; /* Habilita el desplazamiento vertical cuando el contenido excede el alto máximo */
}

.game {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.game h2 {
    margin-bottom: 10px;
    text-align: center;
}

.game p {
    margin-bottom: 15px;
}

.game img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.game a.info-button {
    display: inline-flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Alinear elementos verticalmente */
    padding: 5px 10px; /* Reducir el padding para hacer el botón más pequeño */
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.game a.info-button img {
    height: 30px; /* Tamaño de la imagen del logotipo */
    margin-right: 5px; /* Espacio entre la imagen y el texto del botón */
}

.game a.info-button span {
    vertical-align: middle; /* Alinear el texto verticalmente con la imagen */
}

.game a.info-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

footer p {
    margin-left: auto;
}
.previous-games {
    margin-top: 20px; /* Espacio entre la sección de juegos actuales y anteriores */
    text-align: center; /* Centra el contenido */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
    max-width: 600px; /* Ancho máximo de la tabla para centrarla */
}

.separator {
    border: none;
    border-top: 2px solid #ccc; /* Color y grosor de la línea */
    margin: 20px auto; /* Margen para el separador */
    width: 80%; /* Ancho del separador */
}

.previous-games table {
    border-collapse: separate; /* Separación de bordes de las celdas */
    border-spacing: 10px; /* Espacio entre celdas */
}

.previous-games th,
.previous-games td {
    padding: 10px; /* Espacio interno de las celdas */
}


/* Agregamos estilos para la barra lateral de navegación */
.sidebar {
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    width: 200px; /* Ancho de la barra lateral */
    position: fixed; /* Fijamos la barra lateral para que permanezca visible al desplazarse */
    height: 100%; /* Alto de la barra lateral */
    top: 0; /* La barra lateral comienza desde arriba */
    left: 0; /* La barra lateral comienza desde la izquierda */
    padding-top: 90px; /* Espaciado superior */
}

.sidebar ul {
    list-style: none; /* Quitamos los puntos de la lista */
    padding: 0; /* Quitamos el relleno */
}

.sidebar ul li {
    padding: 10px ; /* Espaciado para cada elemento de la lista */
    text-align: center; /* Centramos el texto horizontalmente */
    margin-top: 20px;
}

.sidebar ul li a {
    text-decoration: none; /* Quitamos el subrayado del enlace */
    color: #fff; /* Color del texto del enlace */
    display: block; /* Convertimos el enlace en un bloque */
}

.sidebar ul li a:hover {
    background-color: #555; /* Cambiamos el color de fondo al pasar el mouse */
}

/* Estilos adicionales para el contenido principal */
header {
    margin-left: 200px; /* Ajustamos el margen izquierdo para que no se superponga con la barra lateral */
    padding: 10px; /* Añadimos un relleno para el encabezado */
}

main {
    margin-left: 220px; /* Ajustamos el margen izquierdo para dejar espacio para la barra lateral */
    padding: 20px; /* Añadimos un relleno para el contenido principal */
}


.sidebar .dropdown-menu {
    display: none; /* Oculta las sub-opciones por defecto */
}

.sidebar .dropdown:hover .dropdown-menu {
    display: block; /* Muestra las sub-opciones cuando se pasa el ratón sobre la opción principal */
}

.logo {
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Esto mantiene la proporción de la imagen */
    position: absolute; /* Establece la posición absoluta para poder posicionarla libremente */
    top: 0px; /* Ajusta la distancia desde la parte superior */
    left: 0px; /* Ajusta la distancia desde el borde izquierdo */
}








































 